extends ./main-layout.pug

block header
	include ./head.pug

block phc
	include ./phc.pug
	
block main-stats
	include ./mainstats.pug

block session-stats
	include ./sessionstats.pug
	
block misc-stats
	include ./miscstats.pug