.statsContainer
	.heroPortrait
		img(src="/assets/images/" + currentSession.hero + ".png")
	.Hero
		h2= currentSession.hero
	.winrate
	.Specific
		include ./heroes/ana.pug
	.Score
		.overall
			strong
			.invisible
				span OVERALL
	br