.phc
	.Profilepic 
		img.avatar(src=profile.avatar)
	.btag
		span.nick= profile.nick
	.rankvalue
	.rankpicture
		img.rankimg(src="/assets/images/" + profile.ranking + ".png")
		.ranknumber
	.Menu Menu
	.modeselect modeselect