.sessionCardsContainer
	.sessionCard
		.sessionHeroPortrait
			img(src="/assets/images/ana.png")
		.sessionHero
			h3 Ana
		.sessionWinrate
		.sessionSpecific
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 0%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
		.sessionScore
			#168.sessionOverall
				strong
				.invisible
					span OVERALL
		br
	.sessionCard
		.sessionHeroPortrait
			img(src="/assets/images/ana.png")
		.sessionHero
			h3 Ana
		.sessionWinrate
		.sessionSpecific
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
			.sessionStatrow
				.sessionMarkerRank
					img(src="/assets/images/Grandmaster.png")
				.sessionStatname
					span Healing done Avg per 10
					.meter.red
						span(style="width: 75%")
				.sessionPercent 75%
		.sessionScore
			#169.sessionOverall
				strong
				.invisible
					span OVERALL
		br