mixin healing_per10(stat)
	.statrow
		.markerRank
			img(src="/assets/images/Grandmaster.png")
		.statname
			span Healing done per 10: 
			span.healing_done_per_10= Math.floor(stat * 100 )/ 100
			.meter.red
				span.healing_done_per_10_width(style="width: 0%")
		.percent.healing_done_per_10_text

		
mixin damage_per10(stat)
	.statrow
		.markerRank
			img(src="/assets/images/Grandmaster.png")
		.statname
			span Damage done per 10: 
			span.damage_done_per_10= stat
			.meter.red
				span.damage_done_per_10_width(style="width: 0%")
		.percent.damage_done_per_10_text